<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/7cf8b731c0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/dash.css">
    <title>Dashboard</title>
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.svg">
</head>

<body>
    <div class="header" id="topheader">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container text-uppercase p-2">
                <a class="navbar-brand" href="/index"><i class="fa-solid fa-eye"></i> HAWK EYE</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item ">
                            <a class="nav-link active" href="/index">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link active" href="/contact">Contact Us <span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link active" href="/logout">Logout<span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <section>
        <div class="container px-4">
            <div class="row no-gutters px-2">
                <div class="col">
                    <form action="" method="post">
                        <div class="form-row">
                            <div class="col-lg-4 col-4">
                                <label style="font-size:larger; text-align: center; padding-top: 10px;">Create
                                    Routine</label>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-4 col-4">
                                <label>Enter Identity no</label>
                                <input type="text" placeholder="Identity Number" minlength="5" maxlength="5"
                                    name="didno" size="5" value="" class="form-control" my-3 p-3 required />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-4 col-4">
                                <label>Enter Duty Date</label>
                                <input type="date" placeholder="Duty Date" name="ddate" value="" class="form-control"
                                    my-3 p-3 required />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-4 col-4">
                                <label>Enter Start Time of duty</label>
                                <input type="time" placeholder="End Date" name="stime" value="" class="form-control"
                                    my-3 p-3 required />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-4 col-4">
                                <label>Enter End Time of duty</label>
                                <input type="time" placeholder="End Date" name="etime" value="" class="form-control"
                                    my-3 p-3 required />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-4 col-4">
                                <button type="submit" class="btn btn-primary" name="button"
                                    onclick="msg()">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


    <script>
        function msg() {
            alert("Sucessfully Created Routine");
        }
    </script>
</body>

</html>